/**************************************************************************************** Imports */
/* Global Reset */
@import '_reset.scss';

/* Import The Symantic Grid System */
@import '_grid.scss';
$total-width: 100%; /* Sets fluid grid */

/* Import Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Vollkorn|Lobster);

/* Import Syntax Highlighting Styles */
@import '_syntax.scss';


/***************************************************************************************** Common */
body {font-family: 'Vollkorn', serif;}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
}


/******************************************************************************************* Home */
/* TODO this doesnt work */
.wrap {
  @include column(12);
  margin-left: auto;
  margin-right: auto;
}

header {
  @include column(3);
}

.content {
  @include column(9);
}

footer {
  @include column(12);
}

/******************************************************************************************* Site */
/* stuff goes here */


/****************************************************************************************** Posts */
/* stuff goes here */


