/**************************************************************************************** Imports */
/* Import Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Vollkorn|Lobster);

/* Import Syntax Highlighting Styles */
@import '_syntax.scss';


/***************************************************************************************** Common */
p {
  font-size: 1.3em;
}
html, body {
  height: 100%;
  background: #EBEBEB;
}
.wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 1% -110px 1%;
}
h1, h2, h3, h4, h5, h6, p, a, body {
  font-family: 'Vollkorn', serif;
}
.site-title {
  a {
    font-family: 'Lobster', cursive;
  }
}
.content {
  margin-top: 4em;
}

/***************************************************************************************** Header */
header {
  height: 100%;
  .header-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
  }
  nav {
    ul {
      list-style: none;
    }
  }
  .contact, .contact-push {
    height: 100px;
  }
  .contact {
    list-style: none;
    font-size: 1.1em;
    padding: 0;
    margin-top: 3em;
  }
}

/****************************************************************************************** Posts */
.post-title {
  text-align: right;
  h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
  }
}
.post-content {
}
