/**************************************************************************************** Imports */
/* Global Reset */
@import 'reset.scss';

/* Import The Symantic Grid System */
@import 'grid.scss';
$total-width: 100%; /* Sets fluid grid */

/* Import Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Vollkorn|Lobster);

/* Import Syntax Highlighting Styles */
@import 'syntax.scss';


/***************************************************************************************** Common */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  font-family: 'Vollkorn', serif;
  background: #EBEBEB;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
}
.wrap {
  @include column(12);
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}
.content {
  @include column(7);
  @include push(1);
}

/***************************************************************************************** Header */
header {
  @include column(3);
  @include push(1);
}


/***************************************************************************************** Footer */
footer {
  @include column(12);
}
footer, .footer-push {
  height: 80px; /* '.push' must be the same height as 'footer' */
}

