<header class="main-header">
  <section class="main-nav">
    <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
    <nav>
      <i class="nav-icon fa fa-bars fa-2x fa-fw" id="nav-icon"></i>
      <ul id="nav-menu">
        <div class="nav-pages">
          {% sorted_for item in site.pages sort_by:order %}
            <li class="{% if item.url == page.url %}current{% endif %}"><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endsorted_for %}
        </div>
        <div class="contact">
          <li><a href="/about/"><img src="{% asset_path trace-head-dfdfdf.png %}" alt="Trace Helms" class="portrait"></a></li>
          <li>
            <a href="http://github.com/tracehelms" target="_blank"><i class="fa fa-github-square fa-2x fa-fw"></i></a>
            <a href="http://linkedin.com/in/tracehelms" target="_blank"><i class="fa fa-linkedin-square fa-2x fa-fw"></i></a>
            <a href="http://twitter.com/tracehelms" target="_blank"><i class="fa fa-twitter-square fa-2x fa-fw"></i></a>
          </li>
          <li><a href="mailto:tracehelms@gmail.com">tracehelms@gmail.com</a></li>
          <li class="text-small"><em>Software Engineer at <a href="http://corp.izea.com" target="_blank">IZEA</a></em></li>
        </div>
      </ul>
    </nav>
  </section>
</header>
