/******************************************************************** Imports */
@import "bourbon";
@import "neat";

/* Import Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Lobster);

/* Import Syntax Highlighting Styles */
@import '_reset.scss';
@import '_syntax.scss';

/* Variables */
$black-color: #111111;
$light-blue-color: #4FB7E3;
$light-white-color: #F6F6F6;
$light-red-color: #E7512D;
$paragraph-space: 0.5em;
$background: #dfdfdf;

/******************************************************************** Desktop */
@media screen and (min-width: 800px) {
html, body {
  @include outer-container;
  background: url(asset_path('noisy-texture-dfdfdf.png'));
  max-width: 98%;
  height: 100%;
  font-size: 1.0em;
  color: $black-color;
  line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6, p, a, body { font-family: 'Ubuntu', sans-serif;}
h1 { font-size: 1.6em; font-weight: bold; }
h2 { font-size: 1.5em; font-weight: bold; }
h3 { font-size: 1.4em; font-weight: bold; }
h4, h5, h6 { font-size: 1.2em; font-weight: bold; }
em { font-style: italic; }
a {
  text-decoration: none;
  color: $light-blue-color;
}
p { margin: $paragraph-space 0 $paragraph-space 0; }
ul {
  margin: $paragraph-space 0 $paragraph-space 2em;
  list-style: disc outside;
}
.text-small { font-size: 0.7em; }
.main-header {
  @include span-columns(3);
  background: $light-white-color;
  padding: 1em 0 1em 0;
  float: left;
  max-width: 220px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .site-title {
    text-align: center;
    font-size: 2em;
    a {
      font-family: 'Lobster', cursive;
      color: $light-red-color;
    }
  }
  nav {
    .nav-icon{
      display: none;
    }
    ul {
      display: block !important;
      list-style: none;
      margin-left: 0;
      .nav-pages { margin-left: 2em; }
      .contact {
        text-align: center;
        margin-top: 4em;
      }
    }
    .portrait {
      width: 110px;
      height: 110px;
    }
  }
}
.content {
  @include span-columns(9);
  margin-top: 4%;
}
article {
  @include span-columns(9 of 9);
  margin-bottom: 3em;
  margin-right: 0;
  header {
    @include span-columns(2 of 9);
    text-align: right;
    margin-top: 0.9em;
    h1 {
      color: $light-red-color;
      font-size: 1.4em;
      font-weight: bold;
      margin-top: 0;
      a { color: $light-red-color; }
    }
    p { margin-top: 0; }
  }
  h1, h2, h3, h4, h5, h6 { margin-top: 1em; }
}
.post-content {
  @include span-columns(7 of 9);
  background: $light-white-color;
  border-radius: 10px;
  padding: 1em;
  .highlight {
    margin: 0 0.5em;
    padding: 0 0.5em;
    .linenos {
      background-color: $light-white-color;
    }
    .hightlight {
      border-radius: 5px;
    }
  }
}
.post-listing {
  @include span-columns(9 of 9);
  .post-title {
    @include span-columns(7 of 9);
    margin-top: 0;
    color: $light-red-color;
    font-size: 1.4em;
    font-weight: bold;
    a { color: $light-red-color; }
  }
  .post-date {
    @include span-columns(2 of 9);
    margin-top: 0;
    text-align: right;
  }
}
}

/********************************************************************* Mobile */
@media screen and (max-width: 799px) {
html, body {
  @include outer-container;
  height: 100%;
  background: url(asset_path('noisy-texture-dfdfdf.png'));
  font-size: 1.0em;
  color: $black-color;
  line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6, p, a, body { font-family: 'Ubuntu', sans-serif; }
h1 { font-size: 1.6em; font-weight: bold; }
h2 { font-size: 1.5em; font-weight: bold; }
h3 { font-size: 1.4em; font-weight: bold; }
h4, h5, h6 { font-size: 1.2em; font-weight: bold; }
em { font-style: italic; }
a {
  text-decoration: none;
  color: $light-blue-color;
}
p { margin: $paragraph-space 0 $paragraph-space 0; }
ul {
  margin: $paragraph-space 0 $paragraph-space 1.5em;
  list-style: disc inside;
}
.text-small { font-size: 0.7em; }
.text-small { font-size: 0.85em; }
.main-header {
  background: $light-white-color;
  min-height: 2em;
  padding-top: 0.2em;
  .site-title {
    text-align: center;
    font-size: 2.0em;
    a {
      font-family: 'Lobster', cursive;
      color: $light-red-color;
    }
  }
  nav {
    width: 100%;
    .nav-icon {
      color: $black-color;
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
    }
    ul {
      list-style: none;
      margin-left: 0;
      text-align: center;
      width: 100%;
    }
    .portrait {
      width: 80px;
      height: 80px;
    }
  }
  nav ul, nav:active ul {
    display: none;
  }
}
.main-header:after { clear: both; }
article {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 3em;
  header {
    margin-top: 1.5em;
    margin-bottom: 1em;
    h1 {
      color: $light-red-color;
      text-align: center;
      a { color: $light-red-color; }
    }
    p {
      text-align: center;
      margin-top: 0;
    }
  }
  .highlighttable {
    padding: 0 0.5em;
    border-radius: 5px;
    word-wrap: break-word;
  }
}
.post-content {
  background: $light-white-color;
  padding: 0.5em;
  border-radius: 10px;
}
.post-listing {
  .post-title {
    margin: 0;
    color: $light-red-color;
    font-size: 1.4em;
    font-weight: bold;
    a { color: $light-red-color; }
  }
  .post-date {
    margin: 0;
  }
  margin: 1em 0.5em;
}
}
